<app-courseitem [courseImageURL]="'https://via.placeholder.com/80x80'" [courseTittle]="'Prueba'" [courseHours]="1" (inscribe)="validateInscribe()"/>
<app-courseitem [courseImageURL]="'https://via.placeholder.com/80x80'" [courseTittle]="'Prueba'" [courseHours]="1" (inscribe)="validateInscribe()"/>
<app-courseitem [courseImageURL]="'https://via.placeholder.com/80x80'" [courseTittle]="'Prueba'" [courseHours]="1" (inscribe)="validateInscribe()"/>
<app-courseitem [courseImageURL]="'https://via.placeholder.com/80x80'" [courseTittle]="'Prueba'" [courseHours]="1" (inscribe)="validateInscribe()"/>