
.container {
  background: rgb(237,189,246);
  background: linear-gradient(0deg, rgba(237,189,246,1) 36%, rgba(228,177,237,1) 54%, rgba(198,181,231,1) 74%);
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  height: 20px;
  margin-bottom: 5px;
  height: auto;
  width: 100%;
}



.ctn-fluid {
  width: auto;
  display: flex;
  flex-direction: column;
 width: 100%;
 height: auto;
}
.ctn-temary{
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 15px;
 
  
}
.ctn-course {
  display: flex;
  flex-direction: column;
  width: auto;
 
}
.description{
  
  margin: auto;
   background-color: white;
   font-family: 'Roboto', sans-serif;
font-weight: 400;

}
h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: -8px;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  margin: auto;
}
.container-suscriptons{
  
 margin-top:100px;
}
@media (max-width: 1500px) {

  .container {
    width: 90%;
    height: auto;
    padding: 20px;
  }
  .ctn-fluid{

    width: 100%;
    height: auto;
  }
   
  h1 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  h2 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  p {
    font-size: 20px;
    margin: 10px 0;
  }
}

/*------------------*/
