<div class="container">
    <h1 class="title-ecomerce">Curso espiritual
        que me moviliza y da sentido </h1>
</div>

<div class="ctn-fluid">
    <div>
        <div class="ctn-course">
            <app-targettcursos></app-targettcursos>
        </div>

        <div class="ctn-temary">
            <h2>Contenido del curso</h2>
            <app-temary></app-temary>
        </div>
    </div>

    <div class="description">
        <h2>Descripcion</h2>
        <p class="phrase-description">
            ¿Te has preguntado alguna vez qué es el alma? ¿Qué nos hace ser quienes somos? Este curso te invita a 
            explorar esta fascinante y misteriosa parte de nuestro ser.
            <br>
            A lo largo de este curso, te sumergirás en un viaje interior que te permitirá conectar con tu esencia 
            más profunda. A través de lecturas, meditaciones, ejercicios prácticos y discusiones en grupo, irás descubriendo 
            y explorando los diferentes aspectos del alma.
            <br>
            Empezarás por entender qué es el alma y su relación con el cuerpo y la mente. A continuación, 
            te adentrarás en el mundo de las emociones y los sentimientos, descubriendo cómo se relacionan con el alma y
             cómo puedes trabajar con ellos para conectarte más profundamente contigo mismo.
            <br>
            También explorarás el papel de la voluntad y el propósito en el alma, y cómo puedes cultivarlos 
            para vivir una vida más auténtica y significativa.
            <br>
            Finalmente, reflexionarás sobre cómo puedes llevar lo que has aprendido en este curso a tu vida
             cotidiana, integrando los conocimientos y las prácticas en tu día a día para vivir en armonía con tu alma.
            <br>
            Este curso es para cualquier persona interesada en explorar su esencia más profunda y conectarse 
            consigo mismo de una manera más profunda y auténtica. No se requiere experiencia previa en meditación o espiritualidad. 
            ¡Te esperamos en este viaje de descubrimiento del alma!
        </p>
       

    </div>
</div>

<div class="container-suscriptons">
     <app-subscription></app-subscription>
</div>


<div class="nose"></div>