<div class="conteinerdiv">

  <div class="cont-text">
    <div class="div1">
      <h1>IKAEE mis cinco cuerpos</h1>

    </div>

    <div class="divtext">
      <p class="text">
        El lugar correcto donde podras encontrar una guia <br>practica
        para la buena vida.
      </p>

    </div>

  </div>

  <div class="cont-img1">
    <div class="yogaimg"> <img class="class-img" src="../../assets/image 1.png" alt="Persona realizando yoga"> </div>
  </div>

</div>


<div class="conteinerdiv2">
  <div class="cont-img2">
    <img class="class-img2" src="../../assets/image 5.png" alt="Persona realizando yoga" />

  </div>

  <div class="cont-text2">
    <div class="divtext2">
      <p class="text2">
        Mis cinco cuerpo es una inciativa la cual busca que todas las personas
        puedan entrenarse para encontrar su equilibrio mental, físico,
        espiritual, emocional y energético. Ampliar la comprensión de las
        personas sobre la importancia de la gestión de su salud desde sus
        prácticas cotidianas.
      </p>
    </div>

    <div class="button1">
      <button class="button">
        Get started <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>

<app-courses />
<app-testimonials />