* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.course_item{
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.inscribe_button{
    background-color: #8C30F5;
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 6px;
    border: none;
    color: #F1E4FF;
    font-weight: 700;
    font-size: 16px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    transition: 0.5s;
}

.inscribe_button:hover{
    translate: 2px -2px;
}