<section class="cursos">
  <h3 class="cursos__titulo">Cursos</h3>
  <p class="cursos__descripcion">
    El autoconocimiento es el camino para encontrar la verdad de nosotros
    mismos, te ayudamos a construir tu bienestar con estos cursos que te
    acercarán a tu yo.
  </p>
  <div class="gallery">
    <figure class="gallery__item gallery__item--1">
      <a href="#"
        ><img
          src="../../assets/emocional.png"
          class="gallery__img"
          alt="Image 1"
        />
        <p id="text" class="gallery__subtitle">Emocional</p>
      </a>
    </figure>

    <figure class="gallery__item gallery__item--2">
      <a href="#"
        ><img
          src="../../assets/energetica.png"
          class="gallery__img"
          alt="Image 2"
        />
        <p id="text" class="gallery__subtitle">Energética</p>
      </a>
    </figure>

    <figure class="gallery__item gallery__item--3">
      <a href="#"
        ><img
          src="../../assets/espiritual.png"
          class="gallery__img"
          alt="Image 3"
        />
        <p id="text" class="gallery__subtitle">Espiritual</p>
      </a>
    </figure>

    <figure class="gallery__item gallery__item--4">
      <a href="#"
        ><img
          src="../../assets/fisica.png"
          class="gallery__img"
          alt="Image 4"
        />
        <p id="text" class="gallery__subtitle">Física</p>
      </a>
    </figure>

    <figure class="gallery__item gallery__item--5">
      <a href="#"
        ><img
          src="../../assets/mental.png"
          class="gallery__img"
          alt="Image 5"
        />
        <p id="text" class="gallery__subtitle">Mental</p>
      </a>
    </figure>
  </div>
</section>
