
.temario-curso{

  background-color: pink;
  width: 80%;
}
.accordion-button.accordion-button {
  font-weight: bold;
  text-align: center;
  background-color: rgb(231, 226, 226);
}
.accordion-item{

  margin-top: 10px;
  margin-bottom: 10px;
}
.title-temary{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}
ul{
  
    list-style-image: url("src\assets\boton-de-play.png")
  

}
ol{
  list-style-type: none;
  font-size: 20px;
  list-style-image: url("src\assets\boton-de-play.png")
  
}
li {
  width: 95%;
  margin: 20px 20px 0px 0px;
  padding: 0.8rem 0;
  margin-left: 20;
  align-self: center;
  font-weight: 400;
  text-align: left;
}
.clases{
float:right;
}

.content-temary{
  text-align: left;
 font-size: 20px;
 margin-bottom: auto;
}