<!-- 
<div class="accordion accordion-flush" id="accordionFlushExample">

  <h2 class="title-temary">contenido del curso</h2>
  <div class="accordion-item">
    
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <span>Unidad 1: El alma </span> 
      </button>
      
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordin-body">
        <ol class="content-temary">
           <li>Introducción a la importancia del alma en nuestra vida</li>
           <li>Comprender la relación entre el alma y el cuerpo </li>
           <li>Técnicas para fortalecer y conectar con nuestro alma</li>
           <li>La importancia del perdón y la autoaceptación en la salud del alma</li>
         
        </ol>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Unidad 2: La mente
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample">
      <div class="accordin-body">
        <ol class="content-temary">
          <li>Entendiendo la relación entre la mente y el cuerpo</li>
          <li>Técnicas de meditación y relajación para calmar la mente</li>
          <li>Ejercicios para mejorar la concentración y la memoria</li>
          <li>Cómo el pensamiento positivo afecta la salud mental</li>
        </ol>
       
      </div>
    </div>
  </div>
  <div class="accordin-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
         <div >Unidad 3: El cuerpo y el espíritu  </div>  
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample">
      <div class="accordin-body">
        <ol class="content-temary">
         
          <li>La importancia de cuidar nuestro cuerpo </li>
          <li>Ejercicios para fortalecer el cuerpo y la mente</li>
          <li>Técnicas de yoga y otros ejercicios para conectar con nuestro espíritu</li>
          <li>Cómo la nutrición y la alimentación afectan la salud del cuerpo y el espíritu</li>
        </ol>
      </div>
    </div>
  </div>
</div> -->





          
  <h2 class="title-temary">contenido del curso</h2>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <span>Unidad 1: El alma </span> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <ol class="content-temary">
            <li>Introducción a la importancia del alma en nuestra vida</li>
            <li>Comprender la relación entre el alma y el cuerpo </li>
            <li>Técnicas para fortalecer y conectar con nuestro alma</li>
            <li>La importancia del perdón y la autoaceptación en la salud del alma</li>
         </ol>
  
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <span>Unidad 2: la mente </span> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <ol class="content-temary">
           
            <li>La importancia de cuidar nuestro cuerpo </li>
            <li>Ejercicios para fortalecer el cuerpo y la mente</li>
            <li>Técnicas de yoga y otros ejercicios para conectar con nuestro espíritu</li>
            <li>Cómo la nutrición y la alimentación afectan la salud del cuerpo y el espíritu</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          <span>Unidad 3: El cuerpo y el espíritu </span> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <ol class="content-temary">
            <li>Entendiendo la relación entre la mente y el cuerpo</li>
            <li>Técnicas de meditación y relajación para calmar la mente</li>
            <li>Ejercicios para mejorar la concentración y la memoria</li>
            <li>Cómo el pensamiento positivo afecta la salud mental</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

