<div class="card">
  <iframe clas="video" src="https://www.youtube.com/embed/i4dwATyTcCk" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <div class="card-body">
    <h5 class="card-title">Lo que me moviliza y da sentido a mi vida.</h5>
    <!--<p class="card-text">Tipo: Curso.<br> </p>-->
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item1">
      <p class="price"> ❌Precio normal: $ 98.000</p>
      <p class="price-ofert"> ✔️ Precio oferta: $ 69.000 ⌛</p>
      <button class="buttonby"> Comprar ahora</button>
      
    </li>
    <li class="list-group-item2">
      <p>Este curso contiene:

        <br>✔️ ⏰ 120 hrs de contenido.
        <br>✔️✍️ Notas de apoyo y materiales.
        <br>✔️ ✍️ Talleres.
        <br>✔️ 📱 Acceso en dispositivos.
        <br>✔️ 📜 Certificado de finalización.
      </p>
    </li>

  </ul>

</div>