<!-- parte de la pagina donde se visualiza el plan de cobro-->
<section class="price container">
    <h2 class="subtitle">
        Nuestros planes:
    </h2>

    <div class="price__table">
        <div class="price__element">
            <p class="price__name">costo de: </p>
            <h3 class="price__price">$80.000 <br>1 meses</h3>

            <div class="price__items">
                
                <p class="price__features">✓ Talleres practicos</p>
                <p class="price__features">✓ Blog de dudas</p>
                

            </div>

            <a href="#" class="price__cta cta">
                Suscribirme ya 
                </a>
        </div>


        <div class="price__element price__element--best">
            <p class="price__name">❃ costo de:  ❃</p>
            <h3 class="price__price"> $450.000 <br>6 meses</h3>

            <div class="price__items">
                
                <p class="price__features"> ✓ Aprendizaje personalizado. </p>
                <p class="price__features"> ✓ Seguimiento del tutor. </p>
                <p class="price__features"> ✓ Pases V.I.P para talleres presenciales.</p>
            </div>

            <a href="#" class="price__cta cta1">  Suscribirme ya  </a>
        </div>


        <div class="price__element">
            <p class="price__name">costo de:</p>
            <h3 class="price__price">$220.000 <br>3 meses  </h3>

            <div class="price__items">
                <p class="price__features">✓ Dos clases personalizadas</p>
                <p class="price__features">✓ Talleres practicos</p>
                <p class="price__features">✓ Blog de dudas</p>

            </div>

            <a href="#" class="price__cta cta">Suscribirme ya </a>
        </div>


    </div>
</section>