/* Estilos de la opcion de la Suscri...... */

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Nunito:wght@400;500;600&family=Poppins:ital,wght@0,300;0,400;0,600;1,700&family=Shadows+Into+Light&display=swap');


.price{
    text-align: center;
    font-family: 'Nunito', sans-serif;/*yipo de letra para toda la pagina*/
}
h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    
}

.cta {
    display: inline-block;
    background-color:purple;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;

}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: #8C30F5;/* color de fondo*/
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #fff;
    --bg-cta:#7001f0;/*color del botton*/
    --color-cta: #7001f0;
    --color-items: #fff;
}


.price__name{
    color: var(--color-plan);/*el color de la letra*/
    margin-bottom: 15px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
}

.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;/*para que sea circular*/
    color: var(--color-items);
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(255 255 255 / 75%);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.price__cta:hover{
    box-shadow:2px 15px 5px 0px hsla(0, 0%, 3%, 0.562);
    background-color:#6308cc;
    color:white;
    
}

