<div class="testimonials">
    <div class="testimonial-inner">
        <h2>Testimonios</h2>

        <p>Usuarios los cuales han mejorado su calidad de vida</p>

        <div class="row">
            <div class="col">
                <div class="testimonial">
                    <div class="testimonio_text">
                        <h3>La meditacion en mi vida</h3>
                        <p>Antes de tomar el curso "Cultivo y 
                            cuidado de la mente", me sentía 
                            estancado en mi vida personal y 
                            profesional depues de lo aprendido siento
                            que mi vida personal ha mejorado drasticamente.
                        </p>
                    </div>
                    <div class="name">
                        <img class="img" src="https://images.pexels.com/photos/3211476/pexels-photo-3211476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="">
                        luis Felipe Arredondo
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <div class="testimonio_text">
                        <h3>Mejore mi salud</h3>
                        <p>Mi vida profesional también ha 
                            mejorado significativamente. Soy más 
                            productivo y tengo una mejor 
                            capacidad para enfrentar los desafíos 
                            que se me presentan en el dia dia gracias
                            a lo aprendido en el curso.
                        </p>
                    </div>
                    <div class="name">
                        <img class="img" src="https://images.pexels.com/photos/3211476/pexels-photo-3211476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="">
                        Waira restrepo
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <div class="testimonio_text">
                        <h3>Mejore mis habitos alimenticios</h3>
                        <p>"Antes de tomar el curso "Salud y 
                            Bienestar Mental", sufría de ansiedad y 
                            depresión. No entendía cómo mi cuerpo 
                            y mente estaban conectados y no sabía 
                            cómo manejar mis emociones"</p>
                    </div>
                    <div class="name">
                        <img class="img" src="https://images.pexels.com/photos/3211476/pexels-photo-3211476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="">
                        Daniel Mateo Ortiz
                    </div>

                </div>
            </div>
           

        </div>
    </div>
</div>
