* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.testimonials {
    padding: 40px 0;
    background:#F4F5F7;
    color: black;
    text-align: center;
}

.testimonial-inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    background:#F4F5F7;
    padding: 30px;
}
.testimonio_text {

    padding: 2px;
  background-color:#FFFFFF;

}

.testimonial img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
   
}

.name {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
    background:#F4F5F7;
}
img{

    margin: 2px;
}

@media screen and (max-width: 960px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }
}

h1{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    color: black;
    text-decoration: underline #8C30F5;
}

h3{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
font-style: normal;
}
p{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #18191F;
    font-size: 13px;
}